/* ----------------------------------------------GERAL-------------------------------------------- */

* {
    padding: 0;
    margin: 0 auto;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    box-sizing: border-box;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
}

body {
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.background {
    background-image: url("../img/background-blur.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

/* ---------------------------------- ANIMAÇÃO DE SUAVIZAÇÃO DE CARREGAMENTO ---------------------------------------- */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ------------------------------------------------ HEADER ---------------------------------------- */

header {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5em;
    background-color: #000000;
    padding: 15px;
    border-bottom: 2px solid #fff;
    display: grid;
    width: 100%;
}

#header_aux {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    gap: 10px;
}

#header_aux h1 {
    margin: 0;
    padding: 0;
}

#icon {
    margin: 0;
}

/* ----------------------------------------------CAIXA ENUNCIADO------------------------------------- */
.caixa_externa {
    text-align: center;
    padding: 5%;
    width: 50%;
    border-radius: 10px;
    border: 2px solid rgb(61, 61, 61);
    background-color: rgba(38, 38, 38, 0.772);
    transition: all 0.2s ease-in-out;
}

#textarea_intervalo {
    margin-top: 10%;
    border-radius: 8px;
    background-color: #8080809f;
    font-size: 25px;
    width: 100%;
    resize: none;
}

#caixa_externa_btn {
    margin-top: 20px;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.btn {
    box-shadow: 1px 1px #8a8a8aa9;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px;
    font-size: large;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

#btn_calcular {
    background-color: rgb(15, 75, 17);
}

#btn_calcular:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(33, 154, 37);
    box-shadow: 3px 3px #8a8a8aa9;
}

#btn_limpar {
    background-color: rgb(173, 53, 1);
}

#btn_limpar:hover {
    cursor: pointer;
    box-shadow: 3px 3px #8a8a8aa9;
    transform: scale(1.1);
    background-color: rgb(225, 94, 37);
}

#enunciado {
    margin-bottom: 20px;
}

/* ----------------------------------------------CAIXA RESPOSTA------------------------------------- */
#caixa_resposta {
    margin-top: 40px;
    margin-bottom: 10%;
}

.caixa-aux {
    overflow: hidden;
    display: flex;
    gap: 8%;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    height: 100%;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.resposta_box {
    flex: 1;
    padding: 1em;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    line-height: 50px;
    word-wrap: break-word;
    margin: 0 0.5em;
    padding: 0.5em;
    min-height: 100%;
}

.resposta_box h2{
    line-height: 35px;
}

/* ----------------------------------------------RESPONSIVIDADE------------------------------------- */

@media screen and (max-width: 660px) {
    body {
        width: 100%;
    }

    #header_aux {
        width: 100%;
        display: block;
    }

    .caixa-aux {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 10px;
    }

    .resposta_box {
        width: 80%;
    }

    .caixa_externa {
        margin: 0 auto;
        width: 85%;
    }
}

.resposta_box h2 {
    color: #000000;
}

@media screen and (max-width: 1200px) {
    #caixa-externa-resultado-aux h1 {
        margin-bottom: 20px;
    }

    .caixa-aux {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 10px;
    }

    .resposta_box {
        width: 80%;
    }
}

@media screen and (min-height: 1000px) {
    footer{
        position: absolute;
    }
}
/* ------------------------------------------- ANCORA TOP --------------------------------------------- */

#arrow {
    display: none; 
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 99; 
    transition: all .2s ease-in-out ;
  }


#arrow i {
    opacity: 80%;
    background-color: #1d1d1de9;
}
#arrow i:hover {
    cursor: pointer;
    opacity: 100%;
    background-color: #1d1d1d;
}

/* ------------------------------------------- FOOTER--------------------------------------------- */

footer {
    border-top: 2px solid white;
    background-color: #222222;
    margin-top: 10%;
    width: 100%;
    height: 50px;
    left: 0px;
    right: 0px;
    bottom: 0;
    margin-bottom: 0px; 
}

#footer-div {
    display: flex;
    padding: 10px;
    vertical-align: middle;
}

#footer-div p {
    font-size: 16px;
    height: 100%;
    text-align: center;
}
